In [4]:
import pandas as pd

# Fetching Country code and Country name from Rapid API

In [31]:
import requests

url = "https://covid-19-statistics.p.rapidapi.com/regions"

headers = {
	"X-RapidAPI-Key": "af8f722c90mshea3dbf4cd1ef661p11d656jsn315562ff4c2a",
	"X-RapidAPI-Host": "covid-19-statistics.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

res = response.json()

#

In [27]:
df = pd.DataFrame(res['data'])

In [28]:
df

     iso                 name
0    CHN                China
1    TWN  Taipei and environs
2    USA                   US
3    JPN                Japan
4    THA             Thailand
..   ...                  ...
214  KIR             Kiribati
215  PLW                Palau
216  TON                Tonga
217  NRU                Nauru
218  TUV               Tuvalu

[219 rows x 2 columns]

In [29]:
df.columns=['ISO', 'Country Name']

In [30]:
df

     ISO         Country Name
0    CHN                China
1    TWN  Taipei and environs
2    USA                   US
3    JPN                Japan
4    THA             Thailand
..   ...                  ...
214  KIR             Kiribati
215  PLW                Palau
216  TON                Tonga
217  NRU                Nauru
218  TUV               Tuvalu

[219 rows x 2 columns]

# Fetching Regions

In [56]:
import requests

url = "https://covid-19-statistics.p.rapidapi.com/provinces"

querystring = {"iso":"CHN","iso":"TON"}

headers = {
	"X-RapidAPI-Key": "af8f722c90mshea3dbf4cd1ef661p11d656jsn315562ff4c2a",
	"X-RapidAPI-Host": "covid-19-statistics.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

prvoince_res = response.json()

In [57]:
prvoince_df = pd.DataFrame(prvoince_res['data'])

In [58]:
prvoince_df

   iso   name province                  lat       long
0  TON  Tonga           -21.179000000000002  -175.1982